body {
  overflow         : hidden;
  background-color : #fff;
}

body ::-webkit-scrollbar-track {
  border-radius      : 1px;
  background-color   : #F5F5F5;
  -webkit-box-shadow : inset 0 0 10px rgba(0,0,0,0.1);
}

body ::-webkit-scrollbar {
  width            : 6px;
  background-color : #F5F5F5;
  transform        : rotateX(180deg);
}

body ::-webkit-scrollbar-thumb {
  border-radius      : 1px;
  background-color   : #ccc;
  -webkit-box-shadow : inset 0 0 20px rgba(0,0,0,.1);
}

.logo {
  display          : block;
  width            : 100%;
  min-width        : 125px;
  max-width        : 150px;
  height           : 100%;
  min-height       : 20px;
  max-height       : 50px;
  margin           : 0px;
  padding          : 0px;
  background-color : #eee;
  grid-area        : logo;
}

.logo img {
  display : block;
  width   : auto;
  height  : auto;
  margin  : auto;
  padding : 3px;
}

.nava {
  display               : flex;
  height                : 100%;
  min-height            : 40px;
  max-height            : 50px;
  margin                : 0px;
  padding-right         : 0px;
  padding-left          : 0px;
  background-color      : #eee;
  grid-area             : navi;
  grid-template-columns : auto auto;
}

.nava > * {
  flex : .1 1 170px;
}

.dropdown {
  display : block;
  margin  : 0;
  padding : 0;
}

.dropbtn {
  display          : block;
  width            : 100%;
  height           : 100%;
  padding          : 10px;
  color            : black;
  border           : none;
  background-color : #eee;
  text-align       : left;
  text-decoration  : none;
  font-size        : 100%;
  cursor           : pointer;
}

.dropbtn:focus,
.dropbtn:hover {
  background-color : #ccc;
}

option {
  display : block;
  width   : 100%;
  padding : 10px;
}

.dropbutton {
  width  : 100%;
  height : 100%;
}

.droplist {
  margin     : 0px;
  padding    : 0px;
  text-align : center;
}

.droplist li {
  display   : flex;
  margin    : 0px;
  padding   : 10px;
  font-size : .875em;
  cursor    : pointer;
}

.droplist li:nth-child(odd) {
  background-color : #ddd;
}

.droplist li:hover {
  background-color : #ccc;
}

.sidebar {
  display        : block;
  width          : 100%;
  min-width      : 125px;
  max-width      : 150px;
  padding        : 0px;
  overflow-y     : scroll;
  background     : #ddd;
  align-items    : flex-start;
  flex-direction : column;
  grid-area      : list;
}

.sidebar p {
  margin    : 0px;
  padding   : 10px;
  font-size : 1.1em;
}

.sidelist {
  display        : flex;
  margin         : 0px;
  padding        : 0px;
  padding-bottom : 0px;
  background     : #eee;
  flex-direction : column;
}

.sidelist li {
  display    : block;
  margin     : 0px;
  padding    : 10px;
  text-align : right;
  font-size  : .875em;
  flex-wrap  : wrap;
  cursor     : pointer;
}

.sidelist li:nth-child(even) {
  background-color : #ddd;
}

.sidelist li:hover {
  background : #ccc;
}

article {
  display    : block;
  padding    : 2vw;
  overflow-y : scroll;
  grid-area  : article;
}

section {
  display    : block;
  overflow-y : scroll;
  grid-area  : section;
}

.grid-container {
  display               : grid;
  margin                : 0px;
  font-family           : Roboto,
                          sans-serif;
  grid-template-columns : auto 1fr 1fr;
  grid-template-rows    : auto 1fr;
  grid-template-areas   : "logo navi navi"
                          "list article section";
}
