  body {
  background-color: #fff;
}

.baclogo {
  display: block;
  margin: 0px;
  padding: 0px;
  background-color: #eee;
  grid-area: logo;

  max-width: 170px;
}

.baclogo img {
  display: block;
  width: auto;
  height: 8vh;
  margin-left: auto;
  margin-right: auto;
}

.nava {
  display: flex;
  background-color: #eee;
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  grid-area: navi;
  height: 40px;
  justify-content: stretch;
}

.nava > * {
  flex: 1 100%;
}

.dropdown {
  flex: 0.1 1 170px;
  display: grid;
  grid-template-areas: "button" "drop";
  grid-template-columns: auto;
  grid-template-rows: 40px auto;
}

.dropbtn {
  display: block;
  background-color: #eee;
  color: black;
  border: none;
  padding: 10px;
  font-size: 100%;
  grid-area: button;
  cursor: pointer;
  width: auto;
  height: 40px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #ccc;
}



.dropdown-box {
  display: none;
  z-index: 1;
  background-color: #eee;
  grid-area: drop;
}

.dropdown:hover .dropdown-box {
  display: block;
}

.droplist {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.droplist li {
  display: flex;
  font-size: .875em;
  margin: 0px;
  padding: 10px;
}

.droplist li:nth-child(odd) {
  background-color: #ddd;
}

.sidebar {
  display: block;
  flex-direction: column;
  width: 170px;
  padding: 0px;
  background: #ddd;
  grid-area: list;
  overflow-y: scroll;
  height: 92vh;
}


.sidebar p {
  margin: 0px;
  padding: 10px;
  font-size: 1.1em;
}

.sidelist {
  display: flex;
  margin: 0px;
  padding: 0px;
  padding-bottom: 0px;
  background: #eee;
  flex-direction: column;
}

.sidelist li {
  display: block;
  text-align: right;
  font-size: .875em;
  margin: 0px;
  padding: 10px;
  flex-wrap: wrap;
  cursor: pointer;
}

.sidelist li:nth-child(even) {
  background-color: #ddd;
}

.sidelist li:hover {
  background: #ccc;
}

.grid-container {
  display: grid;
  margin: 0px;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "logo navi navi" "list article section";
  font-family: Roboto, sans-serif;

}

.show {
  display: block;
}
